/ Page title
%section#page-title.text-light{:style => "background-image:url(https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/efficiency1.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Efficiency
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "Lieber Group Efficiency", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/efficiency.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Efficiency
        %p 
          We recognize the need for preventative measures to ensure equipment efficiency and longevity. By offering custom programs and upgrades, we are able to ensure this for every mechanical system.
        %h4.text-bold.letter-space-1.m-t-30
          Preventative Maintenace
        %p
          As part of our efficiency initiative, we implement preventative measures that will reduce additional costs to the building and building components. We achieve this by the implementation of a custom Preventative Maintenance Plan (PMP). We design PMPs for each building component, whether it is to eliminate the need for repairs, ensure equipment are performing optimally or achieve synergy between building compnoents. For example, PMPs can be applied to sanitary lines to prevent back ups and check for possible source of leaks, gas detectors to ensure consistent performance and more. We have found time and again that PMPs are successful means of reducing the number of service calls and emergencies that can occur in a building, whether from equipment failures or from external sources such as storms. We highly recomment this service as a cost reducing measure, and to achieve improved occupant comfort and convenience.


