/ Page title
%section#page-title.text-light{:style => "background-image:url(https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/hvac4.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        HVAC
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "Lieber Group Hvac Services", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/hvac.jpg", style: "width: 100%"}/
        %img.m-b-10{:alt => "Lieber Group Hvac Services", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/hvac3.jpg", style: "width: 100%"}/
        %img{:alt => "Lieber Group Hvac Services", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/hvac2.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | HVAC
        %p 
          LIEBER GROUP's mechanical background has allowed it to specialize in HVAC work. We supply, install, repair, install, repair and provide maintenance services for a variety of HVAC components, HVAC elements, Humidifiers, Heat Recovery Ventilators (HVRs) and Pumps.
        %h4.text-bold.letter-space-1.m-t-30
          Ductwork & Sheet Metal
        %p
          We offer standard and custom ductwork solutions for air supply, return and exhaust for all building types. We design, supply and install a variety of diffusers, grilles, exhaust fans, VAVs, T-stats and various space control solutions. Our technicians are also experienced in air balancing to meet the appropriate CFM velocities using different control strategies and advanced monitoring equipment.


        %h4.text-bold.letter-space-1.m-t-30
          Air-Handling Services
        %p 
          Our experience in projects of various scales and scope has allowed us to expertise in the replacement, installation and repairs of chillers for the heating and cooling needs of all building types. Our experience in carrying out projects involving 1 Ton split units to 600 Ton chiller units has defined our skill and expertise. We carry out this segment of work confidently and effectively as one of our key services. Heating and cooling equipment are fundamental to a building's integrity and require appropriate maintenance of air-handling systems. We offer the following services in this category:


        %ul{style:"padding-left:18px"}
          %li
            AHUs/MAUs refurbishment
          %li
            RTUs replacement
          %li
            Chiller and Cooling Tower replacement
          %li
            Fan Coil Unit installation
          %li
            Induction Unit installation
          %li
            Gas-Fired Humidifiers installation and repair
          %li
            Heavy-duty Industrial Compressors installation and repair

        %h4.text-bold.letter-space-1.m-t-30
          Refrigeration
        %p 
          Our in-house licensed refrigeration technicians repair and install cooling equipment and new units, and contain and safely dispose hazardous material prior to demolition. We have carried out projects across Canada carrying heavy industrial and retail chillers, refrigerators, freezers, ice machines, display cases and more. We work with all varieties of refrigerants and are trained by manufacturers to handle the units with care and consideration. In addition, we are equipped to attend emergency failures and get systems up and running as quickly as possible.

