/ Page title
%section#page-title.text-light{:style => "background-image:url(https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/hydronics1.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Hydronics
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/hydronics3.jpg", style: "width: 100%"}/
        %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/hydronics2.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Hydronics
        %p 
          With over 20 years of industry experience, we understand the risks and demands involved in building HVAC and refrigeration systems so we strive to ensure all the occupants have a comfortable environment around them. We have proudly carried out several large scale hydronics projects serving high rise properties across Ontario. Our team comprises of licensed Welders, Steamfitter-Pipefitters, Gasfitters, Plumbers, HVAC and Refrigeration Technicians to accommodate any type and size of project.


        %h4.text-bold.letter-space-1.m-t-30
          Experienced and Trained Hydronics Technicians
        %p 
          We are trained and certified with several North-American manufacturers to encompass all installations and repairs as per their recommendations and following all suitable codes, standards and regulations. We have great relationships with our suppliers which allow us to manufacture specialized equipment to meet the needs of the facility’s system and engineering requirements. Our highly trained crew can perform hot taps when downtime is not an option. Some of our hydronics services include the installation, modification, and maintenance of:


        %ul{style:"padding-left:18px"}
          %li
            Chillers and Cooling Towers
          %li
            Cooling Coils
          %li
            Steam, Low & High Temperature Hot Water Boilers
          %li
            Chilled Water and Hot Water piping
          %li
            Steam Traps, Heat Exchangers, Air Eliminators, Expansion Tanks
          %li
            Controls and Safety systems
          %li
            Pumps and Compressor
          %li
            Balancing and Control valves
          %li
            Feed pipes for glycol and water storage tanks

        %p 
          In addition to hydronic systems, LIEBER GROUP technicians are also experienced in installing Variable Frequency Drive controls on these systems to monitor and control the motor speed for optimum performance of the system, longevity of equipment and lower electricity consumption. Whether we design, build, or maintain the system, we are confident we will exceed your expectations.

