/ Page title
%section#page-title.text-light{"data-bg-video" => "video/mechanical.mp4"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium{style: "font-weight: 800"} 
        Mechanical Division
      %span - Building your world -
/ end: Page title


/ Content
%section#page-content
  .container
    / Construciton Services
    #blog.grid-layout.post-2-columns.m-b-30{"data-item" => "post-item"}
      / General Contracting
      .post-item.border
        .post-item-wrap
          .post-image
            %a{:href => "/mechanical/plumbing"}
              %img{:alt => "", :src => "images/mechanical/plumbing_header.jpg"}/
          .post-item-description
            %h2
              = link_to "Plumbing", plumbing_mechanical_index_path
            %p 
              LIEBER GROUP offers full turnkey commercial plumbing services. Our plumbers are licensed, trained and experienced in large and small...
            %a.item-link{:href => "/mechanical/plumbing"}
              Read More
              %i.fa.fa-arrow-right
      / end: General Contracting
      / Construction Managment
      .post-item.border
        .post-item-wrap
          .post-image
            %a{:href => "/mechanical/hvac"}
              %img{:alt => "", :src => "images/mechanical/hvac4.jpg"}/
          .post-item-description
            %h2
              = link_to "HVAC", hvac_mechanical_index_path
            %p 
              LIEBER GROUP's mechanical background has allowed it to specialize in HVAC work. We supply, install, repair, install, repair and...
            %a.item-link{:href => "/mechanical/hvac"}
              Read More
              %i.fa.fa-arrow-right
      / end: Construction Managment
    #blog.grid-layout.post-2-columns.m-b-30{"data-item" => "post-item"}
      / Design & Build
      .post-item.border
        .post-item-wrap
          .post-image
            %a{:href => "/mechanical/efficiency"}
              %img{:alt => "", :src => "images/mechanical/efficiency1.jpg"}/
          .post-item-description
            %h2
              = link_to "Efficiency", efficiency_mechanical_index_path
            %p 
              We recognize the need for preventative measures to ensure equipment efficiency and longevity. By offering custom programs and upgrade...
            %a.item-link{:href => "/mechanical/efficiency"}
              Read More
              %i.fa.fa-arrow-right
      / end: Design & Build
      / Design & Build
      .post-item.border
        .post-item-wrap
          .post-image
            %a{:href => "/mechanical/hydronics"}
              %img{:alt => "", :src => "images/mechanical/hydronics1.jpg"}/
          .post-item-description
            %h2
              = link_to "Hydronics", hydronics_mechanical_index_path
            %p 
              With over 20 years of industry experience, we understand the risks and demands involved in building HVAC and refrigeration systems...
            %a.item-link{:href => "/mechanical/hydronics"}
              Read More
              %i.fa.fa-arrow-right
      / end: Design & Build
      