/ Page title
%section#page-title.text-light{"data-bg-video" => "https://liebergroup.s3.us-east-2.amazonaws.com/videos/mechanical.mp4"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium{style: "font-weight: 800"} 
        Mechanical Division
      %span - Building your world -
/ end: Page title

/ Content
%section#page-content
  .container
    .row.team-members.team-members-shadow.m-b-40.m-t-60
      .col-lg-6
        .team-members
          .team-member
            .post-image
              %a{:href => "/mechanical/plumbing"}
                %img{:alt => "", :src => "/images/mechanical/plumbing_header.jpg"}/
            .item-desc
              %a{:href => "/mechanical/plumbing"}
                %h4 Plumbing
              %p{style:"padding: 10px 20px;"} 
                LIEBER GROUP offers full turnkey commercial plumbing services. Our plumbers are licensed, trained and experienced in large and small...
              .align-center
                %a.item-link{:href => "/mechanical/plumbing", style:"margin-bottom:25px"}
                  Read More
                  %i.fa.fa-arrow-right
      .col-lg-6
        .team-members
          .team-member
            .post-image
              %a{:href => "/mechanical/hvac"}
                %img{:alt => "", :src => "/images/mechanical/hvac_header.jpg"}/
            .item-desc
              %a{:href => "/mechanical/hvac"}
                %h4 HVAC
              %p{style:"padding: 10px 20px;"} 
                LIEBER GROUP's mechanical background has allowed it to specialize in HVAC work. We supply, install, repair, install, repair and...
              .align-center
                %a.item-link{:href => "/mechanical/hvac", style:"margin-bottom:25px"}
                  Read More
                  %i.fa.fa-arrow-right
      .col-lg-6
        .team-members
          .team-member
            .post-image
              %a{:href => "/mechanical/efficiency"}
                %img{:alt => "", :src => "/images/mechanical/efficiency_header.jpg"}/
            .item-desc
              %a{:href => "/mechanical/efficiency"}
                %h4 Efficiency
              %p{style:"padding: 10px 20px;"} 
                We recognize the need for preventative measures to ensure equipment efficiency and longevity. By offering custom programs and upgrade...
              .align-center
                %a.item-link{:href => "/mechanical/efficiency", style:"margin-bottom:25px"}
                  Read More
                  %i.fa.fa-arrow-right
      .col-lg-6
        .team-members
          .team-member
            .post-image
              %a{:href => "/mechanical/hydronics"}
                %img{:alt => "", :src => "/images/mechanical/hydronics_header.jpg"}/
            .item-desc
              %a{:href => "/mechanical/hydronics"}
                %h4 Hydronics
              %p{style:"padding: 10px 20px;"} 
                With over 20 years of industry experience, we understand the risks and demands involved in building HVAC and refrigeration systems...
              .align-center
                %a.item-link{:href => "/mechanical/hydronics", style:"margin-bottom:25px"}
                  Read More
                  %i.fa.fa-arrow-right
