/ Page title
%section#page-title.text-light{:style => "background-image:url(https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/plumbing_header.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Plumbing
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/plumbing_body.jpg", style: "width: 100%"}/
        %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/mechanical/plumbing_body1.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP - General Contracting
        %p 
          LIEBER GROUP offers full turnkey commercial plumbing services. Our plumbers are licensed, trained and experienced in large and small-scale projects, maintenance and emergency work

        %h4.text-bold.letter-space-1.m-t-30
          Water Supply, Drainage & Venting
        %p 
          We provide all water supply, drainage and venting lines for fixtures in the building, whether it is a new construction or a simple repair. In order to deliver the best fit for the space layout, we will work with the different plumbing manufacturers to design and fit the composition of water lines. In particular we have committed to projects of the likes of:
        %ul{style:"padding-left:18px"}
          %li
            Rehabilitation of Sanitary Risers
          %li
            Complete Retrofitting of Sanitary Risers

        %h4.text-bold.letter-space-1.m-t-30
          Water Heaters & BFPs
        %p 
          We design, supply and install all types of commercial grade water heaters and boilers to meet building requirements. We also offer energy efficient condensing boilers and demand control techniques to increase product lifespan and reduce the energy consumption. In addition, our technicians are licensed to install and tag Back Flow Preventers as required by the City Code. As a final measure to ensure an efficiently running system, we perform yearly calibrations and tests.

        %h4.text-bold.letter-space-1.m-t-30
          Emergency Service & Flood Recovery
        %p 
          We deploy teams of 8 to 25 personnel, including Master Plumbers, to attend floods and leaks at any time. We have attended over two thousand emergency repairs and flood recoveries caused by plumbing issues and severe weather events. Our in-house supply of flood containment equipment and tools allow us to deploy fully equipped crew on site within a couple of hours. We perform flood containment, clean up, property damange assessment and restoration.

