/ Page title
%section#page-title.text-light{:style => "background-image:url(/images/construction/construction_management_header.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Construction Management
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "/images/construction/construction_management_body1.jpg", style: "width: 100%"}/
        %img{:alt => "", :src => "/images/construction/construction_management_body2.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Construction Management
        %p 
          Under a contract for Construction Management, the company secures a construction manager's services in order to collaborate with the design team and, depending on the needs of the client, with business contractors and suppliers. This early collaboration in the building management process promotes effective project coordination and communication from the outset and creates a successful environment. Lieber Group is a flexible construction company that operates under different types of contracts and fee structures to meet the needs of the client. This early collaboration in the building management process promotes effective project coordination and communication from the outset and creates a successful environment.

        %h4.text-bold.letter-space-1.m-t-30
          Benefits to Clients
        %p 
          We apply our expertise in construction management in the areas of construction costs, schedule, and market trends to help ensure that the project is executed within your fiscal guidelines. Lieber Group's  goal is to value engineer projects to find alternative building methods and materials that will lead to improvements in quality, serviceability and life cycle.
        