/ Page title
%section#page-title.text-light{:style => "background-image:url(/images/construction/design_builid.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Construction Management
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img{:alt => "", :src => "/images/construction/design_build.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP - Design & Build
        %p.text-bold 
          Providing a single-stop, seamless solution for design-build projects
        %p
          The conventional and still popular approach of involving the design team separately from the contractor team was to do commercial construction. Nonetheless, today a simpler and more cost-effective approach is a team approach where design team and contractor work together to produce the final design for the best dollar in the budget.

        
        