/ Page title
%section#page-title.text-light{:style => "background-image:url(https://liebergroup.s3.us-east-2.amazonaws.com/images/construction/design_header.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Design & Build
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/construction/design_body3.jpg", style: "width: 100%"}/
        %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/construction/design_body1.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP - Design & Build
        %p.text-bold 
          Providing a single-stop, seamless solution for design-build projects
        %p
          The conventional and still popular approach of involving the design team separately from the contractor team was to do commercial construction. Nonetheless, today a simpler and more cost-effective approach is a team approach where design team and contractor work together to produce the final design for the best dollar in the budget.
        %h4.text-bold.letter-space-1
          Areas of Expertise
        %p.text-bold 
          Office
        %p
          Lieber Group turns offices into highly functional spaces so that maximum working conditions are created. We partner with architects, brokers and business owners to identify the expectations of our customers and apply our proven design-build approach to make the process of architecture and construction simple and clear.
        %p.text-bold 
          Retail
        %p
          Our goal is to turn your brick-and-mortar company into a customer destination. We excel in effectively renovating retail spaces while reducing market disruptions. Design-build approaches for the retail space have to be delivered with speed and quality to sustain the flow of foot traffic and sales. We strive to make the whole project tidy and fast.
        %p.text-bold 
          Medical
        %p
          The quality in your practice and the overall treatment you receive is vital to your new medical office. Lieber Group has expertise in the refurbishment of medical offices representing different practise areas. Our architects and construction experts cover any detour from knowing your regional market and patient preferences to your special design-building needs and the environment you want to create
        %p.text-bold 
          Industrial
        %p
          Lieber Group has a wealth of know-how and experience partnering with industrial clients to meet the design needs. Production facilities, warehouses, and other industrial infrastructure will support your operations while optimising production and health. We discuss everything as your design-build team, from height and clearance specifications, special lighting, HVAC, air quality;      
        
        