/ Page title
%section#page-title.text-light{:style => "background-image:url(/images/construction/gc_headaer.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        General Contracting
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img{:alt => "", :src => "/images/construction/general_contracting1.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | General Contracting
        %h4.text-bold.letter-space-1.m-t-30
          Your experienced partner with a dependable solution
        %p 
          As your general contractor, LIEBER GROUP will review your drawings and specifications for a fixed price, and provide you with a comprehensive scope of work. LIEBER GROUP will work with your architect and/or designer to minimise any problems that might arise before construction begins. Working with Antham as your preferred general contractor will minimize delays and overruns over budget.

        %h4.text-bold.letter-space-1.m-t-30
          Benefits to Clients
        %p 
          We apply our expertise in construction management in the areas of construction costs, schedule, and market trends to help ensure that the project is executed within your fiscal guidelines. Lieber Group's  goal is to value engineer projects to find alternative building methods and materials that will lead to improvements in quality, serviceability and life cycle.