/ Page title
%section#page-title.text-light{"data-bg-video" => "https://liebergroup.s3.us-east-2.amazonaws.com/videos/construction.mp4"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Construction Division
      %span - Building your world -
/ end: Page title

/ Content
%section#page-content
  .container
    .row.team-members.team-members-shadow.m-b-40.m-t-60
      .col-lg-4
        .team-members
          .team-member
            .post-image
              %a{:href => "/construction/general_contracting"}
                %img{:alt => "", :src => "/images/construction/general_contracting_header.jpg"}/
            .item-desc
              %a{:href => "/construction/general_contracting"}
                %h4 General Construction
              %p{style:"padding: 10px 20px;"} 
                As your general contractor, LIEBER GROUP will review your drawings and specifications for a fixed price, and provide you with...
              .align-center
                %a.item-link{:href => "/construction/general_contracting", style:"margin-bottom:25px"}
                  Read More
                  %i.fa.fa-arrow-right
      .col-lg-4
        .team-members
          .team-member
            .post-image
              %a{:href => "/construction/construction_management"}
                %img{:alt => "", :src => "/images/construction/construction_management_header.jpg"}/
            .item-desc
              %a{:href => "/construction/construction_management"}
                %h4 Construction Management
              %p{style:"padding: 10px 20px;"} 
                Under a contract for Construction Management, the company secures a construction manager's services in order...
              .align-center
                %a.item-link{:href => "/construction/construction_management", style:"margin-bottom:25px"}
                  Read More
                  %i.fa.fa-arrow-right
      .col-lg-4
        .team-members
          .team-member
            .post-image
              %a{:href => "/construction/design_build"}
                %img{:alt => "", :src => "/images/construction/design_build_header.jpg"}/
            .item-desc
              %a{:href => "/construction/design_build"}
                %h4 Design & Build
              %p{style:"padding: 10px 20px;"} 
                The conventional and still popular approach of involving the design team separately from the contractor team was to do commercial...
              .align-center
                %a.item-link{:href => "/construction/design_build", style:"margin-bottom:25px"}
                  Read More
                  %i.fa.fa-arrow-right