/ Page title
%section#page-title.text-light{"data-bg-video" => "https://liebergroup.s3.us-east-2.amazonaws.com/videos/construction.mp4"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Construction Division
      %span - Building your world -
/ end: Page title


/ Content
%section#page-content
  .container
    / Construciton Services
    #blog.grid-layout.post-3-columns.m-b-30{"data-item" => "post-item"}
      / General Contracting
      .post-item.border
        .post-item-wrap
          .post-image
            %a{:href => "/construction/general_contracting"}
              %img{:alt => "", :src => "images/construction/gc_headaer.jpg"}/
          .post-item-description
            %h2
              = link_to "General Construction", general_contracting_construction_index_path
            %p 
              As your general contractor, LIEBER GROUP will review your drawings and specifications for a fixed price, and provide you with...
            %a.item-link{:href => "/construction/general_contracting"}
              Read More
              %i.fa.fa-arrow-right
      / end: General Contracting
      / Construction Managment
      .post-item.border
        .post-item-wrap
          .post-image
            %a{:href => "#"}
              %img{:alt => "", :src => "images/construction/construction_management.jpg"}/
          .post-item-description
            %h2
              = link_to "Construction Management", construction_management_construction_index_path
            %p 
              Under a contract for Construction Management, the company secures a construction manager's services in order...
            %a.item-link{:href => "/construction/construction_management"}
              Read More
              %i.fa.fa-arrow-right
      / end: Construction Managment
      / Design & Build
      .post-item.border
        .post-item-wrap
          .post-image
            %a{:href => "/construction/design_build"}
              %img{:alt => "", :src => "images/construction/design_header.jpg"}/
          .post-item-description
            %h2
              %a{:href => "#"}
                Design & Build
            %p 
              The conventional and still popular approach of involving the design team separately from the contractor team was to do commercial...
            %a.item-link{:href => "/construction/design_build"}
              Read More
              %i.fa.fa-arrow-right
      / end: Design & Build
      