/ Page title
%section#page-title.text-light{:style => "background-image:url(/images/fireproofing/cementitious_fireproofing_header.jpg); background-size: cover; background-position: center center;"}
	.bg-overlay
	.container
		.page-title
			%h1.text-uppercase.text-medium.text-bold
				Cementitious Fireproofing
			%span - Building your world -
/ FULL WIDTH PAGE
%section
	.container
		.row
			.col-lg-4
				%img{:alt => "", :src => "/images/fireproofing/cementitious_fireproofing_body1.jpg", style: "width: 100%"}/
			.col-lg-8
				%h3.text-bold.letter-space-1
					LIEBER GROUP | Cementitious Fireproofing
				%h4.text-bold.letter-space-1.m-t-30
					Fire Protection for Steel Structure Buildings
				%p
					Spray applied cementitious fireproofing is specified by architects and favored by applicators to protect a buildings structural steel from failure in the event of fire. The materials LIEBER GROUP supplies are designed to meet the strict building codes and insurance industry specifications for today’s building structures. LIEBER GROUP is providing W.R. Grace and AD Fire sprayed cementitious fireproofing services for commercial and industrial applications.
				%h4.text-bold.letter-space-1.m-t-30
					Gypsum Based Fireproofing
				%p
					The gypsum based cementitious fireproofing product is fire resistive material for structural steel framed construction. This material is a dry, fire resistive material that when mixed with water forms a slurry mix that is then spray-applied to the substrate allowing for application that follows the contours of the substrate. The product is applied to interior or exterior steel structures, but is not recommended for long-term exposure to weather. The gypsum based fireproofing product can be applied together with an Accelerator to ensure that set time and product yield is lower for lower installation costs.

			