/ Page title
%section#page-title.text-light{:style => "background-image:url(https://liebergroup.s3.us-east-2.amazonaws.com/images/fireproofing/fp2.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Firestopping
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/fireproofing/fp4.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Firestopping
        %p 
          Firestopping is the practice of utilizing a system of joint and penetration sealants on a fire-rated wall, ceiling, or floor assembly within a building. Ontario building code dictates that any piping, tubing, or other form of equipment that penetrates through a rated fire separation must be firestopped to ensure the integrity of the rated fire separation is maintained. Proper firestopping efforts are a requirement for both new construction and existing construction retrofits, and will prevent a building from achieving building occupancy if missing during the inspection phase, resulting in costly delays.




