/ Page title
%section#page-title.text-light{:style => "background-image:url(https://liebergroup.s3.us-east-2.amazonaws.com/images/fireproofing/fp1.jpg); background-size: cover; background-position: center center;"}
	.bg-overlay
	.container
		.page-title
			%h1.text-uppercase.text-medium.text-bold
				Intumescent Fireproofing
			%span - Building your world -
/ FULL WIDTH PAGE
%section
	.container
		.row
			.col-lg-4
				%img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/fireproofing/fp3.jpg", style: "width: 100%"}/
			.col-lg-8
				%h3.text-bold.letter-space-1
					LIEBER GROUP | Intumescent Fireproofing
				%p 
					Intumescent mastic coatings are fire retardants designed for both interior and exterior application to structural steel, concrete, and other construction materials. The function of fire retardant coatings is to protect the surfaces, being applied to, from failure in the event of a fire.
				%h4.text-bold.letter-space-1
					Exterior Intumescent Fireproofing Product
				%p
					The intumescent certified fire protection products are designed for application to demanding, exterior structural steel. The intumescent fireproofing products Urecoat supplies are solvent-based and when spray applied, expands to chemically bond with the substrate; forming a steadfast connection and fire barrier. These products can be applied to a thickness that limits a fires ability to spread, and limits the amount of damage for up to three hours.
				%p.text-bold.m-t-30
					Exterior Intumescent Fireproofing Benefits
				%ul{style:"padding-left:18px"}
					%li
						Lightweight application that follows the contours of the substrate
					%li
						Eliminates dusting, flaking, cracking and delamination, due to wear resistance
					%li
						Durable to withstand severe weather conditions and abuse
					%li
						Resistant to ultraviolet exposure



