/ Page title
%section#page-title.text-light{:style => "background-image:url(/images/electrical/construction_projects_header.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Construction Projects
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "/images/electrical/construction_projects_body1.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Construction Projects
        %p 
          When it comes to electrical construction projects, LIEBER GROUP is one the most experienced electrical contractors in the Canada and globally. Our corporate, private and institutional clients benefit from decades of electrical experience in a wide range of market segments and project types throughout Canada and other countries. We take pride in employing and retaining diversified, highly trained and experienced electrical professionals.
