/ Page title
%section#page-title.text-light{:style => "background-image:url(/images/electrical/electric_vehicle_charging_stations_header.jpg); background-size: cover; background-position: center center;"}
	.bg-overlay
	.container
		.page-title
			%h1.text-uppercase.text-medium.text-bold
				EV Charging Stations
			%span - Building your world -
/ FULL WIDTH PAGE
%section
	.container
		.row
			.col-lg-4
				%img.m-b-10{:alt => "", :src => "/images/electrical/electric_vehicle_charging_stations_body1.jpg", style: "width: 100%"}/
			.col-lg-8
				%h3.text-bold.letter-space-1
					LIEBER GROUP | Electric Vehicle Charging Stations
				%p 
					LIEBER GROUP can installs EV Charging Station for commercial acustomers in the GTA, Ontario, Vancouver, who have purchased or will soon be purchasing electric vehicles for their fleet. We offer an array of EV Charging Station tailored to suit the needs of your commercial property be it an office complex, retail store, production facility, hospital, multi-unit residential development or something else. We work closely with your fleet manager and other members of your team to determine the proper type and placement of the EV Charging Station to be installed. As we are not manufacturers we are free to recommend and install the absolute best EV Charging Station for your particular situation. We also understand your need to contain costs and will demonstrate for you exactly why we consider the system we’re recommending to be your best long term investment.
				%p
					There are a number of reasons why installing EV Charging Station makes sense:
				%ul{style:"padding-left:18px"}
					%li
						It offers unparalleled convenience for your electric fleet.
					%li
						It ensures your fleet is always properly energized.
					%li
						It demonstrates your company is environmentally aware.
					%li
						It demonstrates that yours is a forward looking company.



