/ Page title
%section#page-title.text-light{:style => "background-image:url(/images/electrical/retro1.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Lighting Retrofits
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img{:alt => "", :src => "/images/electrical/retro5.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Lighting Retrofits
        %p 
          At LIEBGER GROUP, we specialize in environmentally friendly, state-of-the-art, energy-saving LED lighting retrofits for Industrial, Commercial, Institutional, Recreational, and Institutional facilities. We design and deliver best in class LED lighting systems that improve light quality while significantly lowering hydro consumption. We strive to provide each client with the absolute best solution to maximize energy savings while satisfying and enhancing their lighting requirements. LIEBGER GROUP only uses proven, reliable, well-supported North American LED lighting products.


