/ Page title
%section#page-title.text-light{:style => "background-image:url(https://liebergroup.s3.us-east-2.amazonaws.com/images/electrical/electrical1.jpg); background-size: cover; background-position: center center;"}
  .bg-overlay
  .container
    .page-title
      %h1.text-uppercase.text-medium.text-bold
        Maintenance
      %span - Building your world -
/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/electrical/electrical4.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Maintenance
        %p 
          Day in and day out your facility requires electrical power to run effectively. Doesn’t it  make sense then for the qualified professionals at LIEBER GROUP to routinely test and maintain your electrical systems? By carrying out regular maintenance tests, we ensure quality, long-term equipment performance, and you get to learn about unseen problems in your electrical system...BEFORE they become a catastrophe.

        %h4.text-bold.letter-space-1.m-t-20
          Comprehensive Preventative Maintenance Programs
        %p 
          Power surges, spikes, transients and poor preventive maintenance cause damage on a regular basis. These events wear down components, eventually resulting in premature failure. The more power your facility uses, the greater the risk of failure.
