/ Page title
%section#page-title.text-light{:style => "background-image:url(/images/electrical/solar1.jpg); background-size: cover; background-position: center center;"}
	.bg-overlay
	.container
		.page-title
			%h1.text-uppercase.text-medium.text-bold
				Solar Panel Systems
			%span - Building your world -
/ FULL WIDTH PAGE
%section
	.container
		.row
			.col-lg-4
				%img.m-b-10{:alt => "", :src => "/images/electrical/solar2.jpg", style: "width: 100%"}/
			.col-lg-8
				%h3.text-bold.letter-space-1
					LIEBER GROUP | Solar Panel Systems
				%h4.text-bold.letter-space-1.m-t-30
					Now is the time go Solar!
				%p 
					Investing in a solar generation system allows you to control your electricity expenses. As hydro electric rates continue to rise, solar is the most affordable and responsible way to power your operations. Our goal is to develop a renewable energy plan that meets the energy demands of your organization. We will evaluate historical consumption records and deploy a solar generation system that will lower your energy bill by reducing the grid dependency.
				%h4.text-bold.letter-space-1.m-t-30
					How will solar impact my business?
				%p
					By adopting a solar energy system your organization will mitigate the prospect of rising electrical costs which left unchecked, will continue to increase year after year. This will negatively impact production and day-to-day operating costs and will ultimately generate downward pressures of profitability.
				%p
					By reducing or eliminating electricity costs you free up working capital for use in support and growth areas of the business.