
/ Footer
%footer#footer.bg-transparent
  .footer-content
    .container
      .row
        .col-lg-4
          .widget
            %img{:src => "/images/logos/logo_international.png", :alt => "", :style => "width: 300px"}/
            %p.mb-5{:style => "margin-top:30px"}
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            %a.btn.btn-inverted{:href => ""} 
              International Inquiries

        .col-lg-7.offset-lg-1
          .row
            .col-lg-3
              .widget
                .widget-title Construction
                %ul.list
                  %li
                    %a{:href => "#"} Features
                  %li
                    %a{:href => "#"} Layouts
                  %li
                    %a{:href => "#"} Corporate
                  %li
                    %a{:href => "#"} Updates
                  
            .col-lg-3
              .widget
                .widget-title Mechanical
                %ul.list
                  %li
                    %a{:href => "#"} Layouts
                  %li
                    %a{:href => "#"} Headers
                  %li
                    %a{:href => "#"} Widgets
                  %li
                    %a{:href => "#"} Footers
            .col-lg-3
              .widget
                .widget-title Electrical
                %ul.list
                  %li
                    %a{:href => "#"} Portfolio
                  %li
                    %a{:href => "#"} Blog
                  %li
                    %a{:href => "#"} Shop
            .col-lg-3
              .widget
                .widget-title Fireproofing
                %ul.list
                  %li
                    %a{:href => "#"} Help Desk
                  %li
                    %a{:href => "#"} Documentation
                  %li
                    %a{:href => "#"} Contact Us
  .copyright-content
    .container
      .copyright-text.text-center
        © 2020 Lieber Group - Changing the World | All Rights Reserved.
/ end: Footer
