/ Header Extras
.header-extras.d-none.d-md-block.d-xl-none
  %ul
    %li
      .p-dropdown
        %a{:href => "#"}
          %i.icon-globe
          %span EN
        %ul.p-dropdown-content
          %li
            %a{:href => "#"} French (coming soon)
          %li
            %a{:href => "#"} Spanish (coming soon)
          %li
            %a{:href => "#"} English (coming soon)
          %li
            %a{:href => "#"} Russian (coming soon)
          %li
            %a{:href => "#"} Arabic (coming soon)
/ end: Header Extras
