/ Topbar
#topbar.d-none.d-xl-block.d-lg-block.topbar-fullwidth
  .container
    .row
      .col-md-6
        %ul.top-menu
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Features
          %li
            %a{:href => "#"} Pricing
          %li
            %a{:href => "#"} Terms
      .col-md-6.d-none.d-sm-block
        .social-icons.social-icons-colored-hover
          %ul
            %li.social-facebook
              %a{:href => "#"}
                %i.fab.fa-facebook-f
            %li.social-twitter
              %a{:href => "#"}
                %i.fab.fa-twitter
            %li.social-google
              %a{:href => "#"}
                %i.fab.fa-google-plus-g
            %li.social-pinterest
              %a{:href => "#"}
                %i.fab.fa-pinterest
            %li.social-vimeo
              %a{:href => "#"}
                %i.fab.fa-vimeo
            %li.social-linkedin
              %a{:href => "#"}
                %i.fab.fa-linkedin
            %li.social-dribbble
              %a{:href => "#"}
                %i.fab.fa-dribbble
            %li.social-youtube
              %a{:href => "#"}
                %i.fab.fa-youtube
            %li.social-rss
              %a{:href => "#"}
                %i.fa.fa-rss
/ end: Topbar