/ Four HTML5 videos
%section.no-padding
  .container-fullwidth
    .row
      // Mobile 
      .col-md-3.d-block.d-sm-none
        .html5vid.video-loaded
          %video{:loop => "true", :muted => "true", :playsinline => "", :poster => "video/create/create.jpg", :preload => "auto"}
            %source{:src => "video/construction_clip.mp4", :type => "video/mp4"}

      / Desktop & Tablet
      .col-md-3.d-none.d-sm-block{"data-bg-video" => "video/construction_clip.mp4", :style => "height: 660px;"}
        %a{:href => ""}
          .bg-overlay{"data-style" => "10"}
          .row.align-items-bottom
            .heading-text.text-light.mb-0.p-20
              %h4 Construction
      .col-md-3.d-none.d-sm-block{"data-bg-video" => "video/mechanical_clip.mp4", :style => "height: 660px;"}
        %a{:href => ""}
          .bg-overlay{"data-style" => "10"}
          .row.align-items-bottom
            .heading-text.text-light.mb-0.p-20
              %h4 Mechaanical
      .col-md-3.d-none.d-sm-block{"data-bg-video" => "video/electrical_clip.mp4", :style => "height: 660px;"}
        %a{:href => ""}
          .bg-overlay{"data-style" => "10"}
          .row.align-items-bottom
            .heading-text.text-light.mb-0.p-20
              %h4 Electrical
      .col-md-3.d-none.d-sm-block{"data-bg-video" => "video/fireproofing_clip.mp4", :style => "height: 660px;"}
        %a{:href => ""}
          .bg-overlay{"data-style" => "10"}
          .row.align-items-bottom
            .heading-text.text-light.mb-0.p-20
              %h4 Fireproofing
/ end: Four HTML5 videos
