
/ SECTION FULLSCREEN
%section.profile-content
  .profile-image{"data-bg-video" => "https://liebergroup.s3.us-east-2.amazonaws.com/videos/international.mp4"}
    .bg-overlay
    .container-fullwidth
      .row.justify-content-center{style: "padding-top: 48%"}
        .col-md-9
          .heading-text.text-light.text-center
            %h3.font-weight-800
              Dedicated to Excellence!
            %a.btn.btn-light.btn-rounded{:href => "#"} 
              International Projects
    
  .profile-bio
    %h2.text-bold{style: "font-size: 30px"}
      LIEBER GROUP
    %p.m-t-30
      Founded in 2007, LMC is a fully integrated in-house mechanical constructing and service providing company that offers quality mechanical, maintenance and repair services to high-rise buildings and manufacturing facilities. We serve North American clients in the commercial, industrial, institutional and high-rise residential segments. We have conducted projects of scales as large as wholebuilding mechanical system reconstructions to as small as replacing kitchen sink faucets. We take our work seriously and are proud of our longstanding relationships with our clients.
      %br/
      %br/
      With the help of the latest design and management software, we ensure that our clients, engineers and consultants receive a reliable assessment of project schedules and budgets. Additionally, we maintain a large inventory of plumbing and HVAC materials for emergency service calls, quick job start-ups, and to handle unexpected changes and repairs. Our project managers, engineers and fully licensed technicians work in unison to ensure all projects are handled with utmost care, responsibility and performed as per building codes.
      %br/
      %br/
    #portfolio.grid-layout.portfolio-3-columns{"data-margin" => "10"}
      / portfolio item
      .portfolio-item.img-zoom.ct-photography.ct-media.ct-branding.ct-Media
        .portfolio-item-wrap
          .portfolio-image
            %a{:href => "/construction"}
              %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/about/construction.jpg"}/
          .portfolio-description
            %a{:href => "/construction"}
              %h3{style:"font-size:14px"} 
                Construction Division
      / end: portfolio item
      / portfolio item
      .portfolio-item.img-zoom.ct-photography.ct-media.ct-branding.ct-Media
        .portfolio-item-wrap
          .portfolio-image
            %a{:href => "/international"}
              %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/about/international.jpg"}/
          .portfolio-description
            %a{:href => "/international"}
              %h3{style:"font-size:14px"} 
                International Division
      / end: portfolio item
      / portfolio item
      .portfolio-item.img-zoom.ct-photography.ct-media.ct-branding.ct-Media
        .portfolio-item-wrap
          .portfolio-image
            %a{:href => "/mechanical"}
              %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/about/mechanical.jpg"}/
          .portfolio-description
            %a{:href => "/mechanical"}
              %h3{style:"font-size:14px"} 
                Mechanical Divison
      / end: portfolio item
      / portfolio item
      .portfolio-item.img-zoom.ct-photography.ct-media.ct-branding.ct-Media
        .portfolio-item-wrap
          .portfolio-image
            %a{:href => "/electrical"}
              %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/about/electrical.jpg"}/
          .portfolio-description
            %a{:href => "/electrical"}
              %h3{style:"font-size:14px"} 
                Electrical Division
      / end: portfolio item
      / portfolio item
      .portfolio-item.img-zoom.ct-marketing.ct-media.ct-branding.ct-marketing.ct-webdesign
        .portfolio-item-wrap
          .portfolio-image
            %a{:href => "/fireproofing"}
              %img{:alt => "", :src => "https://liebergroup.s3.us-east-2.amazonaws.com/images/about/fireproofing.jpg"}/
          .portfolio-description
            %a{:href => ""}
              %h3{style:"font-size:14px"} 
                Fireproofing Division
/ end: SECTION FULLSCREEN


