
/ CAROUSEL
%section.no-padding
  .grid-articles.carousel.post-carousel{"data-dots" => "false", "data-items" => "3"}
    %article.post-entry
      %a.post-image{:href => "#"}
        %img{:alt => "", :src => "images/international/newyork.jpg"}/
      .post-entry-overlay
        .post-entry-meta
          .product-description
            .product-category Lieber Group Projects
            .product-title
              %h3.text-light
                %a{:href => ""}
                  New York
    %article.post-entry
      %a.post-image{:href => "#"}
        %img{:alt => "", :src => "images/international/dubai.jpg"}/
      .post-entry-overlay
        .post-entry-meta
          .product-description
            .product-category Lieber Group Projects
            .product-title
              %h3.text-light
                Dubai
    / %article.post-entry
    /   %a.post-image{:href => "#"}
    /     %img{:alt => "", :src => "images/international/kazakhstan.jpg"}/
    /   .post-entry-overlay
    /     .post-entry-meta
    /       .product-description
    /         .product-category Lieber Group Projects
    /         .product-title
    /           %h3.text-light
    /             Kazakhstan
    %article.post-entry
      %a.post-image{:href => "#"}
        %img{:alt => "", :src => "images/international/london.jpg"}/
      .post-entry-overlay
        .post-entry-meta
          .product-description
            .product-category Lieber Group Projects
            .product-title
              %h3.text-light
                London
    %article.post-entry
      %a.post-image{:href => "#"}
        %img{:alt => "", :src => "images/international/australia.jpg"}/
      .post-entry-overlay
        .post-entry-meta
          .product-description
            .product-category Lieber Group Projects
            .product-title
              %h3.text-light
                Australia
    %article.post-entry
      %a.post-image{:href => "#"}
        %img{:alt => "", :src => "images/international/turkey.jpg"}/
      .post-entry-overlay
        .post-entry-meta
          .product-description
            .product-category Lieber Group Projects
            .product-title
              %h3.text-light
                Turkey
/ end: CAROUSEL

/ FULL WIDTH PAGE
%section
  .container
    .row
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "/images/construction/construction_management.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Construction
        %p 
          We have an experienced group of professionals who can confidently identify and implement solutions to challenges, constraints and limitations and are familiar with the demands of complex projects. We put client needs at the forefront of our strategy and planning. As experts we are able to pinpoint priorities and carry out the necessary action plan to ensure each project proceeds efficiently and economically.

    %hr.m-t-40
    .row.m-t-50
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Mechanical
        %p 
          Mechanical construction—including industrial and commercial mechanical construction, has been LIEBER GROUP's core competency since the beginning. We know the dynamics of fast-track schedules and rigorous construction standards, and we know exactly how project team members can best collaborate.

        %p 
          Plus, we know what it takes to integrate real components into design-build details. Our job is to help ensure constructability, maintainability, and sustainability.
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "/images/mechanical/plumbing_header.jpg", style: "width: 100%"}/
    %hr.m-t-40
    .row.m-t-50
      .col-lg-4
        %img.m-b-10{:alt => "", :src => "/images/electrical/electrical.jpg", style: "width: 100%"}/
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Electrical
        %p 
          As a commercial electrical contractor, we know the challenge there is in the identification of even the simplest electrical faults. We are also fully aware of the fact that any interruption or delay in electrical services may cause huge losses and impact negatively on your company’s essential services to your customers.
        %p
          This is the precise reason why we go to any extent just to ensure that our services comprehensively cover your commercial electrical needs. We provide you with the necessary information to enable you make informed decisions about the solutions that best suit your commercial establishment.



    %hr.m-t-40
    .row.m-t-50
      .col-lg-8
        %h3.text-bold.letter-space-1
          LIEBER GROUP | Fireproofing
        %p 
          LIEBER GROUP is a professional fireproofing contractor, offering customers a unique, one-source approach to fireproofing.  We specialize in cementitious fireproofing (cement-based protection); mineral fiber fireproofing (interior or semi-exposed spaces); as well as intumescent fireproofing (applied as a protective paint). Fireproofing applications would typically include steel decking, structural beams, and siding systems.
        %p 
          Passive Fire Protection (PFP) is a method of fireproofing that serves to contain a fire or slow the spread. Using fire-resistant materials, the building structure is protected and safeguarded. And when properly installed, Passive Fire Protection can save valuable lives, assets, and the building structure itself. When fireproofing protects the structural steel of a building, essential “egress” time is provided for both occupants and residents.


      .col-lg-4
        %img.m-b-10{:alt => "", :src => "/images/fireproofing/fp2.jpg", style: "width: 100%"}/
    %hr.m-t-40
    .row.call-to-action
      .col-lg-9
        %h3
          Our International Projects Portfolio will be Coming Soon...
        %p
          We appreciate your patience, and business. LIEBER GROUP is always looking to Builing your World!
      .col-lg-3
        %a.btn{:href => "#"} International Portfolio
