/ SECTION FULLSCREEN
%section.parallax.text-light.halfscreen{"data-bg-parallax" => "/images/parallax/turkey.jpg"}
  .container
    .container-fullscreen
      .text-middle.text-center.text-right
        %h1.text-uppercase.text-medium{"data-animate" => "fadeInDown", "data-animate-delay" => "100"}
          Projects in Turkey
        %p.lead{"data-animate" => "fadeInDown", "data-animate-delay" => "300"} 
          Coming soon...
